@page "~/pages/Dashboard"
@model ManejoDeEmpleados.Pages.Administracion.DashboardModel
@{
}

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
       <img src="https://images.unsplash.com/photo-1551434678-e076c223a692?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <a href="~/Administracion/RegistrarEmpleado"><h5 class="card-title">Registrar empleados</h5></a>
        <p class="card-text">En este modulo podras registrar los empleados nuevos en la empresa.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
     <img src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
      <div class="card-body">
       <a> <h5 class="card-title">Empleados en la empresa</h5></a>
        <p class="card-text">En este modulo obtienes los empleados de la empresa</p>
      </div>
    </div>
  </div>
</div>

