@page "/log/register"
@model ManejoDeEmpleados.Pages.Login_y_Register.RegisterModel
@{

}

@section Styles{
    <link href="@Url.Content("~/css/Index.css")" rel="stylesheet"/>
}

<div class="container-fluid">
    <div class="row" style="width: 100%;">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center" style="padding: 20px;">
                <h3>Registrar Administrador</h3>
                <br>
                    <div class="form-group mb-3" style="text-align: start;">                    
                        <input type="text" class="form-control" placeholder="User">                   
                    </div>

                    <div class="form-group mb-3" style="text-align: start;">
                        <input type="password" class="form-control" placeholder="Password" >     
                    </div>

                    <div class="form-group mb-3" style="text-align: start;">
                        <input type="password" class="form-control" placeholder="Confirm Password ">
                    </div>

                    <div class="form-group mb-3">
                         <a href="~/pages/Dashboard"><button class="btn btn-primary me-2" type="submit" >Registrar</button></a>    
                         <a href="javascript:history.go(-1)"> <button class="btn btn-secondary">Volver</button></a>
                    </div>
             </div>
        </div>
    </div>
</div>