@page

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@section Styles{
    <link href="@Url.Content("~/css/Index.css")" rel="stylesheet"/>
}


<div class="container-fluid ">
    <div class="card">
              <div class="text-center ">
        <p><Strong>Bienvenido al manejador de empleados</Strong></p>
   <hr>
   <div class="mx-2 card-body">
     
       <a href=""><button class="btn  btn-xl "> Empleados</button> </a>
       <a href="~/log/login"><button class="btn  btn-xl "> Administracion</button> </a>
   </div>
      
     </div>
     </div>
</div>

