@model ManejoDeEmpleados.Models.Nomina

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Nomina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SueldoBruto" class="control-label"></label>
                <input asp-for="SueldoBruto" class="form-control" />
                <span asp-validation-for="SueldoBruto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SueldoNeto" class="control-label"></label>
                <input asp-for="SueldoNeto" class="form-control" />
                <span asp-validation-for="SueldoNeto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comision" class="control-label"></label>
                <input asp-for="Comision" class="form-control" />
                <span asp-validation-for="Comision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Afp" class="control-label"></label>
                <input asp-for="Afp" class="form-control" />
                <span asp-validation-for="Afp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cafeteria" class="control-label"></label>
                <input asp-for="Cafeteria" class="form-control" />
                <span asp-validation-for="Cafeteria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperativa" class="control-label"></label>
                <input asp-for="Cooperativa" class="form-control" />
                <span asp-validation-for="Cooperativa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isr" class="control-label"></label>
                <input asp-for="Isr" class="form-control" />
                <span asp-validation-for="Isr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seguro" class="control-label"></label>
                <input asp-for="Seguro" class="form-control" />
                <span asp-validation-for="Seguro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpleadoId" class="control-label"></label>
                <select asp-for="EmpleadoId" class ="form-control" asp-items="ViewBag.EmpleadoId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
